<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.springbootmybatis.mapper.EmployeeMapper">
    
    <select id="getEmpl" parameterType="Integer" resultType="com.dy.springbootmybatis.entity.Employee" >
        select * from employee where id=#{id}
    </select>
    
    <insert id="insertEmpl" parameterType="com.dy.springbootmybatis.entity.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into employee (lastName,email,gender,d_id) values(#{lastName},#{email},#{gender},#{did})
    </insert>
</mapper>